/.classpath
/.project
/.settings/.component
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.common.project.facet.core.xml
/bat/archetype-create.bat
/bat/archetype-generate.bat
/bat/branch.bat
/bat/deploy.bat
/bat/eclipse-web.bat
/bat/eclipse.bat
/bat/install.bat
/bat/jetty.bat
/bat/myeclipse-web.bat
/bat/myeclipse.bat
/bat/package.bat
/bat/release.bat
/bat/site.bat
/target/classes/.gitignore
/target/classes/META-INF/orm.xml
/target/classes/META-INF/persistence.xml
/target/classes/RestAPIConfig.properties
/target/classes/WeiXinResult/Notify_test$PaySult.class
/target/classes/WeiXinResult/Notify_test.class
/target/classes/WeiXinResult/WeiXinReq.class
/target/classes/WeiXinResult/WeiXinResult.class
/target/classes/conf/application.properties
/target/classes/conf/applicationContext.xml
/target/classes/conf/ehcache.xml
/target/classes/conf/jdbc.properties
/target/classes/conf/log4j.properties
/target/classes/conf/spring-mvc.xml
/target/classes/conf/testservice.properties
/target/classes/log4j.properties

/src/main/java/com/jing/weixin/utils/WeixinConfig.java
